<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add key="Eone" value="User ID=GTMailerWebApp;Password=GTB@IBankDBGTMailer2020;data source=10.1.12.13\IBANKDB,1400;database=e_one"/>-->
		<!--<add key="CnnStrSQL" value="User ID=GTMailerWebApp;Password=GTB@IBankDBGTMailer2020;data source=10.1.12.13\IBANKDB,1400;database=GTMail"/>-->
		<add name="GTmailConn" connectionString="User Id=GTMailerWebApp;Password=GTB@IBankDBGTMailer2020;data source=10.1.12.13,1400;database=GTMail;multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
		<!-- <add name="BasisConn" connectionString="User Id=APP_STATEMENT;Password=Temp1234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.90.1.17)(PORT=1541))(CONNECT_DATA=(SERVICE_NAME=GTBFINDBMIG)))" providerName="Oracle.ManagedDataAccess.Client"/> -->
		<add name="BasisConn" connectionString="User Id=APP_STATEMENT;Password=Temp1234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.90.1.15)(PORT=1542))(CONNECT_DATA=(SERVICE_NAME=GTBFINDBPROD)))" providerName="Oracle.ManagedDataAccess.Client" />

		<add name="e_oneConn" connectionString="User ID=iBankApp;Password=GTB@IBankDBIBank2020;data source=10.1.12.13,1400;Database=e_one;multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
		<!--<add key="CnnStrSQLReadOnly" value="User ID=iBankApp;Password=GTB@IBankDBIBank2020;data source=10.1.26.58,1400;Database=e_one"/>-->
		<!-- <add name="FinacleConn" connectionString="User Id=APP_STATEMENT;Password=Temp1234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.90.1.17)(PORT=1541))(CONNECT_DATA=(SERVICE_NAME=GTBFINDBMIG)))" providerName="Oracle.ManagedDataAccess.Client"/> -->
		<add name="FinacleConn" connectionString="User Id=APP_STATEMENT;Password=Temp1234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.90.1.15)(PORT=1542))(CONNECT_DATA=(SERVICE_NAME=GTBFINDBPROD)))" providerName="Oracle.ManagedDataAccess.Client" />

		<add name="MT940_Conn" connectionString="Data Source=10.1.12.13,1400;Initial Catalog=GTMail;User ID=GTMailerWebApp;Password=GTB@IBankDBGTMailer2020" providerName="System.Data.SqlClient"/>
		<!-- <add name="MT940_Conn" connectionString="Data Source=10.1.26.58,1400;Initial Catalog=GTMail;User ID=GTMailerWebApp;Password=GTB@IBankDBGTMailer2020" providerName="System.Data.SqlClient"/> -->
		<!--Ghana-->
		<!--<add name="GTmailConn" connectionString="User ID=sa;Password=GTB@IBankDB202;data source=10.1.12.16;database=GTMail_test;multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
    <add name="BasisConn" connectionString="Data Source=10.61.235.99:1533/banks.world4;User ID=gensusr;Password=Em@il$m$;Pooling=true;Min Pool Size=10;Max Pool Size=100;"/>
    <add name="e_oneConn" connectionString="data source=10.1.12.16;User ID=sa;Password=GTB@IBankDB202;database=eone_fin;multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
    <add name="MT940_Conn" connectionString="Data Source=10.1.12.16,1400;Initial Catalog=GTMail_Test;User ID=sa;Password=GTB@IBankDB2020" providerName="System.Data.SqlClient"/>

    <add name="FinacleConn"
 connectionString="User Id=app_statement;Password=Adom1234;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.61.61.55)(PORT=1540))(CONNECT_DATA=(SERVICE_NAME=GTBFINDBPRE)))"
 providerName="Oracle.ManagedDataAccess.Client" />-->
	</connectionStrings>
	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="Branches" value="201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,301,302,303,304,401,402,451,551,601,701"/>
		<add key="currency" value="0,1,2,3,4,5,6,7,8,9,46"/>
		<add key="ApplicationId" value="47"/>
		<add key="PostLoginUrl" value="/Home/Index"/>
		<add key="SSOLogOut" value="http://10.61.222.97/accessmanager/AppMgrLogin.aspx"/>
		<add key="StaffEmpCode" value="EMPB,EMR,EHNI"/>
		<add key="FinacleSettings:BaseUrl" value="https://apigm.gtbank.com"/>
		<add key="FinacleSettings:ChannelId" value="SBEChannel"/>
		<add key="FinacleSettings:AccessTokenUrl" value="https://sandbox46.gtbghana.com:8443/realms/finacle/protocol/openid-connect/token"/>
		<add key="FinacleSettings:ClientId" value="SBE"/>
		<add key="FinacleSettings:ClientSecret" value="IOMuhDMxm7FXMaHUq0wKZ5fTRCqTZKDV"/>
		<add key="FinacleSettings:GrantType" value="client_credentials"/>
		<add key="FinacleSettings:StatementChargeEventID" value="STATEMENT_REQUEST_PRINT"/>
		<add key="EmailSettings:SmtpServer" value="10.1.5.38"/>
		<add key="EmailSettings:SmtpPort" value="25"/>
		<add key="EmailSettings:SenderEmail" value="gm.statement@gtbank.com"/>
		<add key="EmailSettings:SenderType" value="0"/>
		<add key="EmailSettings:SenderID" value="1"/>
		<add key="EmailSettings:NotifierToEmail" value="daniel.achigbue@gtbank.com"/>
		<add key="EmailSettings:NotifierCopyEmail" value="samuelt.osatuyi@gtbank.com"/>
		<add key="EmailSettings:EnableSsl" value="true"/>
		<add key="EmailSettings:LogSwitch" value="1"/>
		<add key="Finacle_GAM_Table" value="tbaadm.gam"/>
		<add key="Finacle_CTD_DTD_ACLI_VIEW_ALL_Table" value="CUSTOM.CTD_DTD_ACLI_VIEW_ALL"/>
		<add key="UseDatabaseForStatements" value="True"/>
		<add key="Logdirectory" value="C:\inetpub\wwwroot\Logs\log-.txt"/>
		<!-- <add key="FinacleSettings:BaseUrl" value="http://finprod.gtbghana.com"/>
    <add key="FinacleSettings:ChannelId" value="SBEChannel"/>
    <add key="FinacleSettings:AccessTokenUrl" value="https://iam.gtbghana.com/realms/FINACLE/protocol/openid-connect/token"/>
    <add key="FinacleSettings:ClientId" value="SBE"/>
    <add key="FinacleSettings:ClientSecret" value="VzVbhQGB4nUB7sDk2MwmDLITJCpyl1iU"/>-->
		<add key="FTPServerIP" value="10.61.1.251"/>
		<add key="FTPUserName" value=""/>
		<add key="FTPPassword" value=""/>
		<add key="FTPPort" value="21"/>
		<add key="FTPFolder" value="c:\ftproot"/>
		<add key="trans" value="8"/>
		<add key="max_split_files" value="200"/>
		<add key="workarea" value="C:\MT940WorkArea\"/>
	</appSettings>
</configuration>